* {
	box-sizing: border-box;
}

html {
	font-size: 22px;
	font-family: 'Orbitron', sans-serif;
	font-weight: 600;
}

body {
	background-color: #120458;
	color: #FE75FE;
	margin-top: 60px;
}

nav {
	position: fixed;
	background-color: #120458;
	top: 0;
	width: 100%;
	color: #FF00A0;
	z-index: 5;
}

nav > div {
	height: 100%;
	width: 95%;
	left: 2.5%;
	position: relative;
	border-bottom: 3px solid #FF00A0;
	overflow: auto;
}

span {
	display: inline-block;
	width: 0;
	color: transparent;
	transition: width 200ms ease-in 100ms, color 200ms ease-in 100ms;
}

nav h2:hover span {
	width: 3rem;
	color: #FF00A0;
}

a, h2, p, h1 {
	margin: 10px;
	padding: 5px;
}

a, h2 {
	font-size: 1rem;
	align-content: center;
}

h1 {
	font-size: 1.4rem;
}

p {
	font-size: 0.8rem;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
}

nav a {
	display: inline-block;
	text-decoration-color: transparent;
	color: #FF00A0;
	transition: text-decoration-color 200ms ease-in 100ms;
}

nav a:visited {
	color: #FF00A0;
}

nav a:hover {
	text-decoration-color: #FF00A0;
}

.nav-name {
	float: left;
}

.nav-links {
	float: right;
}

header {
	width: 95%;
	left: 2.5%;
	position: relative;
}

header > div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

header > div > div {
	border: 3px solid #FE75FE;
	border-radius: 10px;
	margin: 5px;
	width: 30%;
	min-width: 300px;
}

.anchor-target {
	display: block;
	height: 0px;
	position: relative;
	top: -60px;
}